:root {
  --light-blue: #CFD3E9;
  --dark-blue: #848899;
  --red: #5C2A32;
  --brown: #A3684A;
  --dark-brown: #7F523A;
  --brown: #A3684A;
  --black: #F2F3F9;
  --black: #000;
  --white: #F2F3F9;
}

* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--light-blue);
}

main {
  padding: 4em;
}

h1,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Sriracha', cursive;
  font-weight: 900;
  font-size: 5rem;
  line-height: 1.1;
}

h2 {
  font-family: 'Sriracha', cursive;
  font-size: 2rem;
  line-height: 1.1;
}

p {
  font-size: 1.1875rem;
  line-height: 1.5;
}